<!DOCTYPE html>
<html lang="en">

<head>
    <title>Database of frontend styles and effects</title>
    <link href="{{ url_for('static', filename='styles/style_Index.css') }}" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>

<body id="lightswap">
<script src="{{ url_for('static', filename='JSDestructure.js') }}"></script>
    <header>
        <h1>Database of frontend styles and effects</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="button">
                <a href="{{ url_for('Text') }}">Text</a>
            </div>
        </div>
        <div class="row">
            <div class="button">
                <a href="{{ url_for('Picture') }}">Picture</a>
            </div>
        </div>
        <div class="row">
            <div class="button">
                <a href="{{ url_for('Solution') }}">Solution</a>
            </div>
        </div>
        <div class="row">
            <div class="button">
                <a href="{{ url_for('Animation') }}">Animation</a>
            </div>
        </div>
    </div>
</body>

</html>
